body{
      font-family: "Montserrat", sans-serif;
}
.h2{
    font-size: 55px;
    font-weight: 800;
}
.p{
    font-size: 15px;
}
.g20{
    height: 70px;
}
.update{
    font-weight: 700;
}
.card-img-top{
    height: 180px;
}
.beadge{
    background-color: rgb(247, 239, 229);
}
.course{
    width: 220px;
    text-align: center;
    color: white;
}
.course-image{
    height: 180px;
    width: 220px;
}
.course-para{
    height: 150px;
    width: 220px;
}


.cource-card{
    float: left;
    margin-left: 90px;
}
.card-text-para{
    font-weight: bold;
    font-size: 14px;
    color: rgb(6, 102, 213);
    margin:  auto;
    margin-top: 10px;
    
}
.message{
    float: left;
}
.img-fluid-cheif{
    width: 250px;
    height: 384px;
}
.span{
    border: 1px solid black;
    height: 10px;
    width: 20px;
}
.container-list{
    display: flex;
    list-style: none;
}
ul{
    list-style: none;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
}

.banner-text h1{
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.banner-text p{
    font-size: 18px;
    margin-top: 10px;
}