.choice-button{
    padding: 10px 15px;
    background-color: rgb(9, 235, 9);
    color: white;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 15px;
}
.choice-button:hover{
    background-color: rgb(0, 128, 0);
    
}
.choice-button:active{
    background-color:red
}